/* .pagination {
  display: flex;
  width: 90%;
  background-color: white;
  
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
} */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.app {
  text-align: center;
}

.data-list {
  list-style: none;
  padding: 0;
}

.data-item {
  margin: 10px 0;
}
